<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container text-center position-relative">
    <br><br>
        <a class="btn btn-secondary position-absolute top-0 end-0 m-3" th:href="@{/listar}" role="button">Volver</a>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Fecha de nacimiento</th>
            <th>Tipo colegio procedencia</th>
            <th>Nombre colegio</th>
            <th>Año egreso</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="estudiante:${estudiantes}">
            <td th:text="${estudiante.id}"></td>
            <td th:text="${estudiante.rut}"></td>
            <td th:text="${estudiante.apellidos}"></td>
            <td th:text="${estudiante.nombres}"></td>
            <td th:text="${#dates.format(estudiante.fechaNacimiento, 'dd-MM-yyyy')}"></td>
            <td th:text="${estudiante.tipoColegioProcedencia}"></td>
            <td th:text="${estudiante.nombreColegio}"></td>
            <td th:text="${estudiante.anioEgreso}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/generar_cuota/{id}(id=${estudiante.id})}" role="button">Generar cuotas</a>
                <a class="btn btn-primary" th:href="@{/pagar_al_contado}" role="button">Al contado</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>